Repository oslc-op/oslc-specs, pull requests merged in 2020-06, with the labels that each got.

#331 Switch OSLC Core to deliver a single shape file
  specs/core/attachments.html
  specs/core/core-shapes.ttl
  specs/core/core-vocab.html
  specs/core/core-vocab.ttl
  specs/core/dialogs.html
  specs/core/discovery.html
  specs/core/resource-preview.html
  specs/core/resource-shape.html
  specs/core/shapes/AttachmentDescriptor-shape.ttl
  specs/core/shapes/Comment-shape.ttl
  specs/core/shapes/CommonProperties-shape.ttl
  specs/core/shapes/Compact-shape.ttl
  specs/core/shapes/CreationFactory-shape.ttl
  specs/core/shapes/Dialog-shape.ttl
  specs/core/shapes/Discussion-shape.ttl
  specs/core/shapes/Error-shape.ttl
  specs/core/shapes/ExtendedError-shape.ttl
  specs/core/shapes/OAuthConfiguration-shape.ttl
  specs/core/shapes/PrefixDefinition-shape.ttl
  specs/core/shapes/Preview-shape.ttl
  specs/core/shapes/Publisher-shape.ttl
  specs/core/shapes/QueryCapability-shape.ttl
  specs/core/shapes/ResourceShapes-shape.ttl
  specs/core/shapes/ResponseInfo-shape.ttl
  specs/core/shapes/Service-shape.ttl
  specs/core/shapes/ServiceProvider-shape.ttl
  specs/core/shapes/ServiceProviderCatalog-shape.ttl
  tools/ShapeChecker/check-core.sh
Labels: Area: Core, Core: Main Spec, Kind: Editorial, Kind: Shapes

#335 Sc embedded whitespace
  tools/ShapeChecker/build.xml
  tools/ShapeChecker/src/main/java/net/open_services/scheck/shapechecker/NodeCheck.java
  tools/ShapeChecker/src/main/java/net/open_services/scheck/shapechecker/ShapeCheck.java
  tools/ShapeChecker/src/main/java/net/open_services/scheck/shapechecker/Terms.java
  tools/ShapeChecker/src/main/java/net/open_services/scheck/shapechecker/VocabularyCheck.java
  tools/ShapeChecker/src/main/resources/SCVocabulary.ttl
  tools/scapt/lib/scapt.jar
  tools/scapt/src/net/open_services/scapt/SCResultProcessor.java
Labels: Tool: ShapeChecker

#329 QM PS01 shape and ReSpec updates
  .circleci/config.yml
  specs/qm/quality-management-shapes.ttl
  specs/qm/quality-management-spec.html
  specs/qm/quality-management-vocab.html
  specs/qm/quality-management-vocab.ttl
  specs/qm/testcase.ttl
  specs/qm/testexecutionrecord.ttl
  specs/qm/testplan.ttl
  specs/qm/testresult.ttl
  specs/qm/testscript.ttl
  tools/ShapeChecker/check-qm.sh
Labels: Area: Domains, Domain: QM, Kind: Editorial, Kind: Shapes, Kind: Vocabulary
